.App {
  display: flex;
}
.textarea {
  background-color: #282a36;
  box-sizing: border-box;
  color: white;
  width: 100%;
  height: 100vh;
  padding: 20px;
  font-size: 1.5rem;
  outline: none;
  border: none;
  resize: none;
}

.divider{
  border: #393b49 1px solid;
}

.downloadButton{
 position: absolute;
 z-index: 1;
 left: 20px;
 bottom: 20px;
}

a {
  color: aqua;
}

.downloadButton > button {
  color: white;
  background-color: #393b49;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 5px;
}
.downloadButton > button:hover {
  background-color: #494a50;
}
.downloadButton > button:disabled {
  background-color: #494a50;
  cursor: not-allowed;
}

.detailButtons{
  display: flex;
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 20px;
}


.linkRedirect{
  display: flex;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  background-color: #393b49;
  margin-left: 5px;
  border-radius: 100%;
}
.linkRedirect:hover{
  background-color: #494a50;
}

svg {
  height: 70%;
  color: white;
}


.markdown {
  box-sizing: border-box;
  overflow-y: scroll;
  width: 50vw;
  height: 100vh;
  /* background-color: aliceblue; */
  padding: 20px;
  outline: none;
  color: white;
  /* background-color: #282a36; */
  word-wrap: break-word;
}

.copiedMessage {
  position: absolute;
  z-index: 1;
  color: white;
  background-color: #393b49;
  padding: 10px 20px;
  border-radius: 5px;
  left: -190px;
  top: 10px;
  transition: transform 0.5s ease-in-out;
}

.show {
  
  transform: translateX(220px);
  transition: transform 0.5s ease-in-out;
}

.Resizer {
  border: #494a50 1px solid;
  color: white;
  opacity: 1;
  z-index: 2;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}
 
.Resizer.horizontal {
  cursor: row-resize;
}
 
 
.Resizer.vertical {
  cursor: col-resize;
}



@media only screen and (max-width: 760px) {
  .markdown{
    height: 50vh;
  }

  .textarea {
    height: 50vh;
  }
}